name: CI/CD Pipeline Develop

on:
  pull_request:
    branches: [ develop ]
  push:
    branches: [ develop ]
  merge_group:
    branches: [ develop ]

jobs:
  check-single-commit:
    name: "."
    uses: ./.github/workflows/reusable__check_single_commit.yml
    secrets: inherit

  checkstyle:
    name: "."
    uses: ./.github/workflows/reusable__checkstyle.yml
    needs: check-single-commit
    secrets: inherit

  check-comments:
    name: "."
    uses: ./.github/workflows/reusable__check_comments.yml
    needs: check-single-commit
    secrets: inherit

  gitleaks:
    name: "."
    uses: ./.github/workflows/reusable__gitleaks.yml
    needs: check-single-commit
    secrets: inherit

  owasp-dependency-check:
    name: "."
    uses: ./.github/workflows/reusable__owasp_dependency_check.yml
    needs: [ checkstyle, check-comments, gitleaks ]
    secrets: inherit

  unit-test-sonarqube:
    name: "."
    uses: ./.github/workflows/reusable__unit_test_sonarqube.yml
    needs: [ checkstyle, check-comments, gitleaks ]
    secrets: inherit

  trivy-image-scan:
    name: "."
    uses: ./.github/workflows/reusable__trivy_image_scan.yml
    needs: [ checkstyle, check-comments, gitleaks ]
    secrets: inherit

  semantic-release:
    if: github.ref == 'refs/heads/develop'
    name: "."
    uses: ./.github/workflows/reusable__semantic_release.yml
    needs: [ unit-test-sonarqube, owasp-dependency-check, trivy-image-scan ]
    secrets: inherit

  build-push-image:
    if: github.ref == 'refs/heads/develop'
    name: "."
    uses: ./.github/workflows/reusable__build_push_image.yml
    needs: [ semantic-release ]
    with:
      account-id: 183295418748 # production
      ecr-repository-name: backend
      version: ${{ needs.semantic-release.outputs.version }}
    secrets: inherit

  deploy:
    if: github.ref == 'refs/heads/develop'
    name: "."
    uses: ./.github/workflows/reusable__deploy.yml
    needs: build-push-image
    with:
      account-id: 108782064107 # develop
      image: ${{needs.build-push-image.outputs.image}}
      cluster: agridata-ecs-cluster
      service: agridata-backend
      task-definition-family: agridata-backend
      container-name: agridata-backend-service
    secrets: inherit
